@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    @apply font-sans text-slate-900 antialiased;
    font-family: var(--font-inter);
  }

  * {
    @apply border-slate-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
